@import 'chank/header';

.page-wrapper {
  padding-bottom: 60px;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.catalog {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding-right: 5px;
    margin: 15px 0;
  }
  li:before {
    padding-right: 5px;
    color: #999;
  }
  a {
    text-decoration: none;
    color: #999;
    font: .812rem $font-montserrat;
    padding: 15px 0;
  }
}

.product-name {
  display: flex;
  justify-content: space-between;
  .name {
    font: 700 2.125rem $font-montserrat;
    color: #333;
    margin: 0;
  }
  .vendor {
    font: .812rem $font-montserrat;
    padding: 10px 20px;
    background-color: #ffdc2c;
    position: relative;
  }
  .vendor:before {
    content: '';
    position: absolute;
    left: -10px;
    display: block;
    border: solid 10px white;
    border-radius: 100%;
  }
}

.product-body {
  display: flex;
  padding: 25px 0;
}

.product-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  height: 220px;
  width: 550px;
  li {
    margin: 5px;
    width: 65px;
    height: 65px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #e9eaeb;
      width: 65px;
      height: 65px;
      position: relative;
      i:before {
        font-size: 37px;
        color: #fb3245;
        position: absolute;
        border: solid 1px white;
        padding: 5px;
        border-radius: 100%;
        background-color: white;
        top: 0;
        left: 0;
        margin-top: 6px;
      }
    }
    a:hover {
      border-color: #ffdc2c;
    }
  }
}

.product-photo {
  padding: 0 50px;
}

.availability-title {
  display: flex;
  margin: 0;
  padding: 0 0 40px 0;
  list-style: none;
  li {
    padding-right: 25px;
    color: #333;
    font: .812rem $font-montserrat;
    a {
      color: #808080;
      text-decoration: none;
      padding-bottom: 2px;
      border-bottom: solid 1px #808080;
      position: relative;
      i:before {
        position: absolute;
        margin: 4px 0 0 -20px;
      }
    }
  }
  li + li {
    padding-right: 45px;
  }
}

.star-rating {
  font-size: 0;
  .star-rating__wrap {
    display: inline-block;
    font-size: 1rem;

  }

  .star-rating__wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  .star-rating__ico {
    float: right;
    padding-left: 2px;
    cursor: pointer;
    color: #ffdc2c;
  }

  .star-rating__ico:last-child {
    padding-left: 0;
  }

  .star-rating__input {
    display: none;
  }

  .star-rating__ico:hover:before,
  .star-rating__ico:hover ~ .star-rating__ico:before,
  .star-rating__input:checked ~ .star-rating__ico:before {
    content: '\e802';
  }
}

.availability-box {
  display: flex;
}

.availability-massage {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f9;
  padding: 15px 40px;
  h1 {
    margin: 0;
    color: #999;
    font: 700 2.5rem $font-montserrat;
    span {
      font: 400 1.25rem $font-montserrat;
    }
  }
  .availability-button {
    text-decoration: none;
    color: #333;
    font: 700 1.125rem $font-montserrat;
    padding: 14px 30px;
    margin: 15px 0;
    text-align: center;
    border: solid 2px #fb2539;
  }
  p {
    font: .75rem $font-montserrat;
    color: #777;
  }
  .share-buttons {
    padding-top: 20px;
    a {
      position: relative;
      color: #333;
      font: .812rem $font-montserrat;
      text-decoration: none;
      margin-left: 40px;
      i:before {
        position: absolute;
        font-size: 20px;
        margin-left: -35px;
      }
    }
  }
}

.other-shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: solid 1px #e9eaeb;
  margin-left: 40px;
  position: relative;
  z-index: 1;
  div {
    padding: 20px 50px 0 50px;
    font: .812rem $font-montserrat;
    span {
      color: #57ae85;
      i:before {
        font-size: 12px;
        margin: 0 10px;
      }
    }
    p {
      color: #333;
    }
    a {
      text-decoration: none;
      font: 700 1.25rem $font-montserrat;
      color: #333;
      span {
        padding: 0 5px;
        font-size: 1rem;
        color: #333;
      }
    }
  }
}

.other-shop:before {
  content: 'Похожий товар';
  position: absolute;
  padding: 0 20px;
  background-color: white;
  top: -15px;
  font: 1.37rem $font-montserrat;
  z-index: 2;
}

.other-shop:after {
  content: 'Показать все похожие товары';
  font: .812rem $font-montserrat;
  color: #fb2539;
  padding-bottom: 2px;
  border-bottom: dotted 1px #fb2539;
  background-color: white;
  position: absolute;
  z-index: 2;
  bottom: -5px;
  cursor: pointer;
}

.product-slider-title {
  font: 1.75rem $font-montserrat;
}

.product-slider1 {
  padding: 15px 0;
  .arrow {
    position: absolute;
    top: -45px;
    width: 45px;
    height: 45px;
    background-color: #474a4e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-left-open {
    right: 45px;
  }

  .icon-right-open {
    right: 0;
  }

  .arrow:active {
    background-color: #3c3f43;
  }
}

.product-slide {
  text-decoration: none;
  padding: 0 10px;
  img {
    width: 170px;
    height: 217px;
    padding: 10px 0;
    margin: 0 auto;
  }
  div {
    display: flex;
    justify-content: space-between;
    .article-code {
      font: .75rem $font-montserrat;
      color: #999;
    }
  }
  p {
    font: .93rem $font-montserrat;
    color: #333;
  }
  span {
    color: #333;
    font: 1.87rem $font-montserrat;
    span {
      font-size: 1rem;
      padding-left: 5px;
    }
  }
  .availability {
    display: block;
    font: .812rem $font-montserrat;
    color: #57ae85;
    padding-bottom: 10px;
    i:before {
      font-size: 8px;
      margin-right: 7px;
    }
  }
}

.desc-main-title {
  list-style: none;
  margin: 30px 0 50px 0;
  padding: 20px 0;
  border-bottom: solid 2px #e9eaeb;
  display: flex;
  li {
    padding-right: 45px;
    a {
      text-decoration: none;
      color: #777777;
      padding: 20px 0;
      font: 700 1rem $font-montserrat;
    }
    a:hover {
      color: #fb2539;
      border-bottom: solid 2px #fb2539;
    }
  }
}

.desc-title {
  font: 700 1.25rem $font-montserrat;
  color: #333;
}

.desc-main-wrapper {
  display: flex;
}

.character-body {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 10px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    li {
      padding: 20px;
      font: .812rem $font-montserrat;
    }
    li:nth-child(odd) {
      background-color: #eff0f3;
    }
  }
}

.character-other {
  text-decoration: none;
  color: #333;
  font: .812rem $font-montserrat;
  border-bottom: solid 1px #c1c1c1;
  margin-left: 20px;
  padding-bottom: 2px;
  position: relative;
  i:before {
    color: #fb2539;
    font-size: 10px;
    position: absolute;
    margin-left: -15px;
    bottom: 2px;
  }
}

.desc-body {
  padding-top: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  p {
    font: .875rem/1.57 $font-montserrat;
    color: #333;
    margin: 0;
  }
}

.feedback-buttonns {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  div {
    display: flex;
    .active {
      border: solid 1px #fb2539;
      color: #333;
    }
  }
  a {
    padding: 10px 20px;
    border: solid 1px #e1e1e1;
    text-decoration: none;
    font: 700 1rem $font-montserrat;
    color: #777;
  }
  .send-question {
    font-size: .937rem;
    color: #333;
    background-color: #ffdc2c;
    border: 0;
  }
}

.feedback-body {
  padding-bottom: 15px;
  margin-bottom: 10px;
  overflow: hidden;
  display: none;
}
.feedback-body.active {
  display: block;
}

.feedback-box {
  display: flex;
  padding: 20px;
  border: solid 1px #ffdc2c;
  .feedback {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    h2 {
      font: 700 1rem $font-montserrat;
      color: #333;
      margin: 0;
      span {
        font: 400 .812rem $font-montserrat;
        color: #999;
        padding-left: 10px;
      }
    }
    p {
      font: .812rem $font-montserrat;
      line-height: 1.53;
      color: #333;
    }
    span {
      color: #333;
      font: .812rem $font-montserrat;
    }
    .like {
      color: #57ae85;
      font-weight: 700;
      margin: 10px 0;
    }
    .dislike {
      color: #f8727e;
      font-weight: 700;
      margin: 10px 0;
    }
    .icon-like:before {
      padding-right: 10px;
    }
    div {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        color: #333;
        padding: 3px 0;
        border-bottom: solid 1px #c1c1c1;
        margin-right: 40px;
      }
      span {
        font: .812rem $font-montserrat;
        color: #777;
        i:before {
          font-size: 18px;
          color: #333;
          padding: 0 5px;
          margin: 0;
        }
        .scale:before {
          transform: scale(1, -1);
        }
      }
    }
  }
  .rating {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    border-left: solid 1px #e9eaeb;
    h2 {
      font: 700 1rem $font-montserrat;
      margin: 0;
      padding-bottom: 15px;
    }
    span {
      padding-left: 10px;
      font: 700 .875rem $font-montserrat;
    }
  }
}

.rating-pos {
  display: flex;
  align-items: center;
  i {
    color: #ffdc2c;
    font-size: 12px;
  }
}

.video-review {
  display: flex;
  padding-bottom: 40px;
}

.first-review, .second-review {
  position: relative;
  i:before {
    font-size: 42px;
    color: #fb2539;
    background-color: white;
    padding: 10px;
    border: solid 1px white;
    border-radius: 100%;
  }
}

.first-review {
  padding-right: 40px;
}

.article-slider {
  display: flex;
  .arrow {
    position: absolute;
    width: 45px;
    height: 50%;
    background-color: #474a4e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .icon-left-open {
    bottom: 0;
    right: 0;
  }

  .icon-right-open {
    top: 0;
    right: 0;
  }

  .arrow:active {
    background-color: #3c3f43;
  }
}
.article-slider {
  width: 73%;
}
.article-slide {
  text-decoration: none;
  img {
    float: left;
    padding-right: 30px;
  }
  .article-slide-box {
    padding: 50px 20px;
    border: solid 1px #e9eaeb;
    margin: 0 100px;
    height: 100%;
    span {
      font: .75rem $font-montserrat;
      color: #999;
    }
    h2 {
      font: 1.25rem $font-montserrat;
      color: #333;
    }
    p {
      font: .875rem/1.42 $font-montserrat;
      color: #777;
      margin: 0;
    }
  }
}

.certificate {
  width: 73%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.also-buy {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font: .875rem $font-montserrat;
    color: #333;
    padding: 10px 15px;
    border: solid 1px #e1e1e1;
  }
  a:active {
    border: solid 1px #fb2539;
  }
}

.desc-availability-body {
  padding-left: 30px;
  width: 80%;
  .desc-availability {
    padding: 20px;
    border: solid 1px #e9eaeb;
    img {
      display: block;
      margin: 0 auto;
    }
    p {
      font: .812rem $font-montserrat;
      color: #333;
    }
    h2 {
      font: .937rem $font-montserrat;
      color: #999999;
    }
    span {
      font: 700 1.875rem $font-montserrat;
      color: #999;
      padding: 10px 0;
      span {
        font-size: 1rem;
        padding-left: 5px;
      }
    }
    .availability-button {
      display: flex;
      align-items: center;
      .av-button {
        display: block;
        text-decoration: none;
        color: #333;
        font: 700 .875rem $font-montserrat;
        padding: 5px 15px;
        margin: 20px 0;
        text-align: center;
        border: solid 2px #fb2539;
      }
      i {
        font-size: 18px;
        color: #333;
        padding: 0 20px;
      }
    }
    .desc-other-shop {
      font: 400 .812rem $font-montserrat;
      color: #333;
      border-bottom: dotted 1px #333;
      padding-bottom: 3px;
      cursor: pointer;
    }
  }
  .you-car {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px 0;
    background-color: #ddefe7;
    h2 {
      font: 700 .875rem $font-montserrat;
      color: #333;
      i:before {
        font-size: 12px;
        color: #6eb996;
        padding-right: 10px;
      }
    }
    div {
      background: white url("../img/arrow.png") no-repeat right;
      width: 191px;
      height: 58px;
      border-right: solid 10px white;
      select {
        background: transparent;
        border: none;
        outline: none;
        color: #333;
        padding: 20px;
        appearance: none;
      }
    }
  }
}

.product-slide {
  .buy-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    span {
      font: 700 .937rem $font-montserrat;
      color: white;
      background-color: #fb2539;
      padding: 10px 30px;
    }
    i:before {
      color: #333;
      font-size: 22px;
      margin-left: 20px;
    }
  }
  .rating-feedback {
    color: #808080;
    padding-bottom: 2px;
    border-bottom: solid 1px #c1c1c1;
    position: relative;
    margin-left: 40px;
    i:before {
      color: #808080;
      position: absolute;
      margin-left: -20px;
      padding-top: 3px;
    }
  }
}

.other-goods {
  display: flex;
  align-items: center;
  .you-car {
    padding-left: 20px;
    background: url("../img/arrow.png") no-repeat right;
    width: 220px;
    height: 40px;
    select {
      background: transparent;
      border: solid 1px #d5d3d3;
      outline: none;
      color: #333;
      padding: 10px;
      appearance: none;
      width: 240px;
    }
  }
  span {
    font: .875rem $font-montserrat;
    color: #333;
    padding-bottom: 2px;
    border-bottom: solid 1px #c1c1c1;
    margin-left: 50px;
    cursor: pointer;
  }
  i:before {
    color: #fb2539;
    padding-left: 5px;
  }
}

.other-goods-slider {
  .arrow {
    position: absolute;
    width: 45px;
    height: 50%;
    background-color: #474a4e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .icon-left-open {
    bottom: 0;
    right: 0;
  }

  .icon-right-open {
    top: 0;
    right: 0;
  }

  .arrow:active {
    background-color: #3c3f43;
  }
  .product-slide {
    border: solid 1px #eff0f3;
    .price {
      font-size: 1.25rem;
      padding: 10px 0;
    }
  }
}

@import 'chank/footer';


