.header-top {
  background-color: #eff0f3;
  padding: 20px 0; }
  .header-top .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-top .container ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none; }
      .header-top .container ul li a {
        padding: 10px;
        color: #777;
        text-decoration: none; }
    .header-top .container .header-info {
      width: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-top .container .header-info form span {
        color: #555;
        padding-right: 10px; }
      .header-top .container .header-info form select {
        background: transparent;
        border: none;
        outline: none; }
      .header-top .container .header-info .header-lang a {
        color: #777;
        text-decoration: none;
        margin: 0 10px;
        padding: 15px 0; }
      .header-top .container .header-info .header-lang a:hover {
        border-bottom: 2px solid #fb2539; }
    .header-top .container .header-user a {
      color: #777;
      text-decoration: none;
      margin: 0 10px; }
    .header-top .container .header-user a:hover {
      color: #fb2539; }
