$font-montserrat: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;

.header-wrapper {
  font: 100% $font-montserrat;
}

.header-top-wrapper {
  a {
    cursor: pointer;
  }
  background-color: #eff0f3;
  height: 44px;
  .header-top {
    font: .812rem $font-montserrat;
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      padding: 10px 0;
      color: #777;
      text-decoration: none;
      display: block;
      height: 24px;
    }
    nav {
      li {
        padding-right: 25px;
      }
      a:hover {
        color: #333;
      }
    }
    .header-info {
      width: 50%;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header-city {
        background: url("../img/arrow.png") no-repeat right;
        height: 44px;
        width: 70px;
        span {
          color: #555;
          padding-right: 10px;
        }
        select {
          background: transparent;
          border: none;
          outline: none;
          color: #333;
          padding: 0 20px;
          border-left: solid 1px #d8d9dc;
          border-right: solid 1px #d8d9dc;
          height: 100%;
          width: 80px;
          appearance: none;
        }
      }
      .header-lang {
        .active-lang {
          border-bottom: 2px solid #fb2539;
          color: #333;
        }
        a {
          padding: 10px 0 8px 0;
          margin: 0 10px;
        }
        a:active {
          border-bottom: 2px solid #fb2539;
          color: #333;
        }
      }
    }
    .header-user {
      a {
        padding: 10px;
      }
      i:before {
        visibility: hidden;
      }
      a:hover {
        color: #fb2539;
      }
      a:hover i:before {
        visibility: visible;
      }
    }
  }
}

.header-middle {
  display: flex;
  justify-content: space-between;
  background-color: white;
  form {
    margin: auto 0;
    display: flex;
    align-items: center;
    div {
      background: url("../img/arrow.png") no-repeat right;
      width: 130px;
      margin-right: 10px;
    }
  }
  .header-logo {
    a {
      display: block;
      height: 112px;
      width: 234px;
      background: url("../img/logo.jpg") no-repeat;
    }
  }
  .header-search {
    width: 350px;
    height: 44px;
    border: solid 1px #c2c2c2;
    border-radius: 25px;
    input {
      border: none;
      padding: 15px 0;
      outline: none;
      font-size: .812rem;
      width: 80%;
      margin-left: 25px;
    }
    input::placeholder {
      color: #999;
    }
    .icon-search {
      border: none;
      background: inherit;
      font-size: 22px;
      padding: 0;
      cursor: pointer;
    }
    button:before {
      margin: 0;
    }
  }
  select {
    background: transparent;
    appearance: none;
    border: none;
    outline: none;
    width: 130px;
  }
  .header-backcall {
    background: inherit;
    border: solid 2px #ffdc2c;
    padding: 10px;
    font: .812rem $font-montserrat;
    outline: none;
    cursor: pointer;
  }
  a {
    margin: auto 0;
    text-decoration: none;
    color: #333;
    font: .75rem $font-montserrat;
    position: relative;
    i:before {
      padding-bottom: 5px;
      display: block;
      margin: 0 auto;
      font-size: 26px;
      width: 35px;
    }
    .icon-heart-empty:after {
      content: '1';
      width: 12px;
      height: 12px;
      text-align: center;
      color: white;
      font-size: 9px;
      position: absolute;
      background-color: #fb2539;
      border: solid 2px #fb2539;
      border-radius: 100px;
      right: 14px;
      top: -5px;
    }
  }
}

.header-bottom {
  background-color: #3c3f43;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    li {
      width: 100%;
      height: 54px;
      a {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        font: .812rem $font-montserrat;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        i:before {
          font-size: 21px;
          padding-right: 5px;
          color: #ebc712;
        }
      }
      a:hover {
        background-color: #fb2539;
        flex-direction: row-reverse;
        justify-content: space-around;
        text-transform: none;
      }
      .active-menu {
        width: 234px;
      }
    }
  }
}