.header-wrapper {
  font: 100% "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif; }

.header-top-wrapper {
  background-color: #eff0f3;
  height: 44px; }
  .header-top-wrapper a {
    cursor: pointer; }
  .header-top-wrapper .header-top {
    font: 0.812rem "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-top-wrapper .header-top ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none; }
    .header-top-wrapper .header-top a {
      padding: 10px 0;
      color: #777;
      text-decoration: none;
      display: block;
      height: 24px; }
    .header-top-wrapper .header-top nav li {
      padding-right: 25px; }
    .header-top-wrapper .header-top nav a:hover {
      color: #333; }
    .header-top-wrapper .header-top .header-info {
      width: 50%;
      height: 44px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-top-wrapper .header-top .header-info .header-city span {
        color: #555;
        padding-right: 10px; }
      .header-top-wrapper .header-top .header-info .header-city select {
        background: transparent;
        border: none;
        outline: none;
        color: #333;
        padding: 0 10px;
        border-left: solid 1px #d8d9dc;
        border-right: solid 1px #d8d9dc;
        height: 100%; }
      .header-top-wrapper .header-top .header-info .header-lang .active-lang {
        border-bottom: 2px solid #fb2539;
        color: #333; }
      .header-top-wrapper .header-top .header-info .header-lang a {
        padding: 10px 0 8px 0;
        margin: 0 10px; }
      .header-top-wrapper .header-top .header-info .header-lang a:active {
        border-bottom: 2px solid #fb2539;
        color: #333; }
    .header-top-wrapper .header-top .header-user a {
      padding: 10px; }
    .header-top-wrapper .header-top .header-user a:hover {
      color: #fb2539; }

.header-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white; }
  .header-middle form {
    margin: auto 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .header-middle .header-logo a {
    display: block;
    height: 112px;
    width: 234px;
    background: url("../img/logo.jpg") no-repeat; }
  .header-middle .header-search {
    width: 350px;
    height: 44px;
    border: solid 1px #c2c2c2;
    -webkit-border-radius: 25px;
            border-radius: 25px; }
    .header-middle .header-search input {
      border: none;
      padding: 15px 0;
      outline: none;
      font-size: .812rem;
      width: 80%;
      margin-left: 25px; }
    .header-middle .header-search input::-webkit-input-placeholder {
      color: #999; }
    .header-middle .header-search input::-moz-placeholder {
      color: #999; }
    .header-middle .header-search input:-ms-input-placeholder {
      color: #999; }
    .header-middle .header-search input::-ms-input-placeholder {
      color: #999; }
    .header-middle .header-search input::placeholder {
      color: #999; }
    .header-middle .header-search .icon-search {
      border: none;
      background: inherit;
      font-size: 22px;
      padding: 0; }
    .header-middle .header-search button:before {
      margin: 0; }
  .header-middle select {
    border: none;
    outline: none; }
  .header-middle .header-backcall {
    background: inherit;
    border: solid 2px #ffdc2c;
    padding: 10px;
    font: 0.812rem "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif; }
  .header-middle a {
    margin: auto 0;
    text-decoration: none;
    color: #333;
    position: relative;
    font: 0.75rem "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif; }
    .header-middle a i:before {
      padding-bottom: 5px;
      display: block;
      margin: 0 auto;
      font-size: 26px;
      width: 35px; }

.header-bottom {
  background-color: #3c3f43; }
  .header-bottom ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header-bottom ul li {
      width: 100%;
      height: 54px; }
      .header-bottom ul li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        font: 0.812rem "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
        letter-spacing: .1rem;
        text-transform: uppercase;
        text-decoration: none;
        color: white; }
        .header-bottom ul li a i:before {
          font-size: 21px;
          padding-right: 5px;
          color: #ebc712; }
      .header-bottom ul li a:hover {
        background-color: #fb2539;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        text-transform: none; }
      .header-bottom ul li .active-menu {
        width: 234px; }

.container {
  max-width: 1300px;
  margin: 0 auto; }
